 @model DIA.Web.ViewModels.VMPersonProfile
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <div class="checkbox">

            <label asp-for=@Model.PersonPhoneNumber.PhoneNumber></label>
            <input asp-for=@Model.PersonPhoneNumber.PhoneNumber />
        </div>


        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>


    </div>
</div>

 
 
   
 
