@model DIA.Web.ViewModels.DI2501AClaimantForm

@{
    ViewData["Title"] = "W6Step2";
}

<h2>Initial Question</h2>

<form asp-action="Step3">
    <div class="form-horizontal">
        <h4>DI2501AForm</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for=@Model.DI2501AForm.IsSelffEmployed />
                    <label asp-for=@Model.DI2501AForm.IsSelffEmployed></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for=@Model.DI2501AForm.IsStateEmloyee />
                    <label asp-for=@Model.DI2501AForm.IsStateEmloyee></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for=@Model.DI2501AForm.UnderLawEnforcement />
                    <label asp-for=@Model.DI2501AForm.UnderLawEnforcement></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for=@Model.DI2501AForm.LastDayWorked class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for=@Model.DI2501AForm.LastDayWorked class="form-control" />
               
            </div>
        </div>
        <div class="form-group">
            <label asp-for=@Model.DI2501AForm.DisabilityBeginDate class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for=@Model.DI2501AForm.DisabilityBeginDate class="form-control" />
               
            </div>
        </div>
      



		<div class="form-group">

			@foreach (var item in @Model.ReferenceLookup.Where(c => c.TableName == "Job_Category").Select(a => a.SystemValue))
			{

				<input asp-for=@item type="radio" class="form-control" value=@item />@item


				<br />
			}
		</div>



        <div class="form-group">

            <div class="col-md-offset-2 col-md-10">

                <input type="submit" name="BtnPrevious" value="Previous" class="btn btn-default" />

                <input type="submit" name="BtnNext" value="Finish" class="btn btn-default" />

            </div>

        </div>

    </div>
</form>


 

<div>
    <a asp-action="Index">Back to List</a>
</div>

